body{
    margin:0;
    background-color: white;
}

.container{
display: flex;
flex: 1;
justify-content: space-between;

}
.tund{
    display: flex;
    justify-content: space-between;
    background-color: #9EE9E0;
    border-radius:10px;
    margin: 1rem;
    padding: 1%;
}
.leftside{
    display: flex;
    flex-direction: column;
    color: black;
}
.leftside span{
    font-family: Roboto;
    font-style: normal;
    color: black;
    margin-left: 4px;
}
.rightside{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    flex-basis: auto;
    white-space: nowrap;
    color: whitesmoke;
}
.rightside span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: black;

}
.side{
    display: flex;
    justify-content: flex-end;
    flex-basis: 33%;
    flex-shrink: 1;
    color: black;
    font-family: Roboto;

}
.pealkiri{
    font-size: 15px;
    line-height: 20px;
    margin-top: 4px;
    font-weight:700;
}
.tunninr{
    font-size: 16px;
    line-height: 16px;
    color: whitesmoke;
}
.aeg{
    font-size: 19px;
    line-height: 14px;
    color: whitesmoke;
    margin-top: 7px;
    font-weight: 700;
}
.ruum{
    font-size: 19px;
    line-height: 16px;
    margin-top: 7px;
    margin-right: 13px;
    font-weight: 700;
}
.op{
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

.days{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1%;
    color: whitesmoke;
}
.days button:not-last{
    margin-right: 1vw;
}

.monday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:1rem;
    border-radius:10px;
    border-width: 0;
    justify-content: center;
    align-content: center;
    background-color: #9EE9E0;
    margin: 0.1em;
    color: black;
    font-size: 22px;
    font-weight: 700;
}
.tuesday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:1rem;
    border-radius:10px;
    border-width: 0;
    justify-content: center;
    align-content: center;
    background-color: #9EE9E0;
    margin: 0.1em;
    color: black;
    font-size: 22px;
    font-weight: 700;
}
.wednesday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:1rem;
    border-radius:10px;
    border-width: 0;
    background-color: #d0caca;
    justify-content: center;
    align-content: center;
    margin: 0.1em;
    color: black;
    font-size: 22px;
    font-weight: 700;
}
.thursday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #2E8799;
    padding:1rem;
    border-radius:10px;
    border-width: 0;
    background-color: #9EE9E0;
    justify-content: center;
    align-content: center;
    margin: 0.1em;
    color: black;
    font-size: 22px;
    font-weight: 700;
}
.friday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:1rem;
    border-radius:10px;
    border-width: 0;
    background-color: #9EE9E0;
    justify-content: center;
    align-content: center;
    margin: 0.1em;
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.tunniplaan{
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Noto Serif KR', serif;
    color: black;
}

.lunch{
    display: flex;
    justify-content: space-between;
    border-radius:10px;
    background-color: #d0caca;
    margin: 1rem;
    align-items: center;
    padding: 1%;
}
.week {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    padding-top: 0.5rem;
    color: whitesmoke;
    background-color: #1E1547;
}
.vabatund{
    display: flex;
    justify-content: space-between;
    background-color: #393939;
    margin: 1rem;
    padding: 1%;
}
.chevron{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

.lounapealkiri{
    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
}

.day-box{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1%;
    color: whitesmoke;
}
.weeks{
    color: white;
}
.leftsides{
    color: black    ;
}
